@import '../../../style/config.scss';

.search {
    position: relative;
    margin: 0 20px;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(157, 157, 157, 0.25);
    border-radius: 30px;

    &_active{
        border-radius: 30px 30px 0 0;
    }
}

.search-icon{
    margin-left: 15px;
}

.search-input{
    width: 87%;
    height: 80%;
    border: none;
    font-size: 20px;
    margin-left: 50px;
}

.found{
    border-top: 2px solid #E9E9E9;
    width: 100%;
    position: absolute;
    top: 100%;
    background: $text-gray;
    height: auto;
    font-size: 20px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 10px 20px rgba(157, 157, 157, 0.25);
    border-radius: 0 0 30px 30px;

    &-item{
        padding: 10px 80px;
        transition: background-color .25s ease-in;
        cursor: pointer;

        &:hover{
            background-color: #E9E9E9;
        }

        &:last-child{
            border-radius: 0 0 30px 30px;
        }
    }
}

.found-empty{
    padding: 10px 80px;
    color: $text-gray
}

.close-search{
    margin-top: 5px;
    font-size: 25px;
    cursor: pointer;
    transition: color .25s ease-in;
    margin-right: 15px;

    &:hover{
        color: $text-gray;
    }
}

//MEDIA 
@media (max-width: 426px) {
    .search-icon{
        img {width: 20px;}
    }
    .close-search {
        font-size: 20px;
    }
    .search-input{
        margin-left: 10px;
        font-size: 16px;
    }
    .found{
        font-size: 16px;

        &-item{
            padding: 10px 15px;
        }
    }
    .found-empty{
        padding: 10px 15px;
    }
}
