@import "../../style/config.scss";

.eye {
  position: absolute;
  top: 17%;
  right: 15%;
  cursor: pointer;
}
.register-form-input {
  position: relative;
  .error-text {
    position: absolute;
    left: 10%;
    bottom: 5px;
    color: red;
  }
}
.input-error {
  border: 2px solid red !important;
}

.popup-input {
  width: 80%;
  background: #f6f6f6;
  border-radius: 5px;
  border: none;
  font-size: 20px;
  padding: 20px 30px;
  margin-bottom: 20px;

  &::placeholder {
    color: #c9c9c9;
  }
}
