@import "../../style/config.scss";

.basket-links {
  display: flex;
  align-items: center;
  font-size: 18px;
  a {
    color: $text-color;
    text-decoration: none;
    transition: color 0.1s ease-in;

    &:hover {
      color: $accent-hover;
    }
  }
}

.basket-wrapper {
  background-image: url(../../img/item-card/background.png);
  position: top left;
  background-size: contain;
  background-repeat: no-repeat;
  padding: 170px 100px 20px 100px;
  width: 100%;
}

.block-wrapper {
  margin-top: 50px;
  background-color: #ffffff;
  border: 1px solid #e4e4e4;
  box-shadow: 0px 0px 50px rgba(163, 163, 163, 0.25);
  border-radius: 20px;
  padding: 100px 100px 30px 100px;
}

.basket-content {
  &-top {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-title {
      font-size: 40px;
      font-weight: bold;
    }

    &-btn_delete_all {
      font-size: 20px;
      color: #f9b300;
      padding: 10px 20px;
      background-color: #fff7e1;
      border: 1px solid #f9b300;
      border-radius: 5px;
      transition: background-color 0.25s ease-in;

      &:hover {
        background-color: #fff2d0;
      }
    }
  }

  &-main {
    margin-top: 50px;

    &-title {
      padding-bottom: 20px;
    }

    table {
      width: 100%;
      border-collapse: separate;
      border-spacing: 0 30px;

      thead td {
        text-align: center;
      }
      thead td:nth-child(2) {
        text-align: left;
        padding-left: 4%;
      }

      tbody tr {
        background: #f6f6f6;
        border: 1px solid #f0f0f0;
        border-radius: 20px;
      }
    }
  }
}

.delivery {
  padding-top: 40px;
  &-title {
    font-size: 30px;
    font-weight: bold;
  }
  &-form {
    margin-top: 40px;

    &-btn_submit {
      width: 100%;
      background-color: #fff7e1;
      border: 1px solid #f9b300;
      border-radius: 5px;
      color: #f9b300;
      font-size: 20px;
      transition: background-color 0.25s ease-in;
      padding: 10px 20px;
      margin-top: 20px;

      &:hover {
        background-color: #fff2d0;
      }
    }

    &-inputs {
      display: flex;
      flex-wrap: wrap;
      gap: 30px;

      &-item {
        position: relative;
        width: calc(50% - 20px);
      }

      input {
        width: 100%;
        font-size: 20px;
        padding: 20px 40px;
        background: #fcfcfc;
        border: 1px solid #f6f6f6;
        border-radius: 5px;

        &::placeholder {
          color: #c4c4c4;
        }
      }
    }
  }
}

.basket-footer {
  display: flex;
  gap: 30px;
  &-promo {
    width: calc(60% - 30px);
    padding: 50px 50px 50px 50px;
    &-title {
      font-size: 30px;
      font-weight: bold;
      margin-bottom: 20px;
    }
    &-desc {
      font-size: 20px;
      line-height: 1.3;
    }
    &-input {
      margin-top: 20px;
      width: 100%;
      font-size: 20px;
      padding: 10px 20px;
      background: #fcfcfc;
      border: 1px solid #f6f6f6;
      border-radius: 5px;

      &::placeholder {
        color: #c4c4c4;
      }
    }
    &-btn {
      width: 100%;
      background-color: #fff7e1;
      border: 1px solid #f9b300;
      border-radius: 5px;
      color: #f9b300;
      font-size: 20px;
      transition: background-color 0.25s ease-in;
      padding: 10px 20px;
      margin-top: 20px;

      &:hover {
        background-color: #fff2d0;
      }
    }
  }
  &-payment {
    width: 40%;
    padding: 50px 50px 50px 50px;
    &-title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      &-text {
        font-size: 30px;
        font-weight: bold;
      }
    }
    &-desc {
      color: #747474;
      line-height: 1.3;
    }
    &-footer {
      margin-top: 30px;
      font-size: 14px;
      line-height: 16px;
      color: #747474;
    }
    &-btn {
      width: 100%;
      background-color: #f9b300;
      border: none;
      border-radius: 5px;
      color: #fff;
      font-size: 20px;
      transition: background-color 0.25s ease-in;
      padding: 10px 20px;
      margin-top: 20px;

      &:hover {
        background-color: $accent-hover;
      }
    }
  }
}

.delivery-form-inputs-error {
  position: absolute;
  bottom: -24px;
  font-size: 16px;
  color: #b63232;
}
.disable {
  background-color: #fff;
}
.error-input {
  border: 1px solid #b63232 !important;
}

.empty {
  text-align: center;
  font-size: 20px;
  color: #c4c4c4;
}
