@import "../../style/config.scss";

.item{
    background-image: url(../../img/item-card/background.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    padding: 170px 100px 20px 100px;
}

.links-item-coffe{
    display: flex;
    align-items: center;
    font-size: 18px;
    a{
        color: $text-color;
        text-decoration: none;
        transition: color .1s ease-in;
    
        &:hover{
            color: $accent-hover;
        }
    }
}

.item-wrapper{
    background: #FFFFFF;
    border: 1px solid #E4E4E4;
    box-shadow: 0px 0px 50px rgba(163, 163, 163, 0.25);
    border-radius: 20px;
}

.card-item{
    width: 100%;
    padding: 100px;
    margin-top: 40px;

    .card-main-wrapper{
        display: flex;
        .card-img{
            width: 40%;
            border-radius: 20px;
            object-fit: contain;
        }
        .card-main{
            margin-left: 150px;

            .card-title{
                font-size: 40px;
                font-weight: bold;
                margin-bottom: 20px;
            }

            .card-desc{
                font-size: 18px;
                line-height: 1.3;
                margin-bottom: 30px;
            }
        }
    }
}



.circle-decoration-item-coffe{
    display: inline-block;
    width: 5px;
    height: 5px;
    border-radius: 2.5px;
    background-color: #222;
    margin: 0 5px 0 5px;
}

.card-grain{
    margin-bottom: 20px;
    & li {
        display:inline-block;
        &:not(:last-child){
            margin-right: 5px;
        }
        img {
            width: 20px;
            height: 20px;
        }
    }
}
.card-feature-item{
    display: flex;
}

.card-coffe-characteristic{
    font-size: 18px;
    margin-bottom: 30px;
    &:not(:first-child){
        margin-left: 20px;
    }
    ul{
        margin-top: 10px;
    }
    li{
        display: inline-block;
        &:not(:first-child){
            margin-left: 2px;
        }
    }
    .active{
        width: 10px;
        height: 10px;
        border-radius: 5px;
        background-color: $accent;
    }
    .disable{
        width: 10px;
        height: 10px;
        border-radius: 5px;
        background-color: #F0F0F0;;
    }
}

.heft-item{
    display: flex;
    align-items: center;

    input {
        display: none;
    }

    label:not(:first-child){
        margin-left: 50px;
    }

    input:checked + label:before {
        background-color: $accent;
    }

    input[type=radio]:disabled + label:before {
        background-color: #E4E4E4;
    }

    label {
        font-size: 28px;
        position: relative;

        &::before{
            content: '';
            width: 25px;
            height: 25px;
            position: absolute;
            left: -35px;
            border-radius: 12.5px;
            background-color: #E4E4E4;
        }
        
    }
}

.buy-wrapper{
    margin-top: 40px;
    display: flex;
    font-size: 25px;
    .counter{
        display: flex;
        align-items: center;
        background: #F6F6F6;
        border: 1px solid #D6D6D6;
        border-radius: 5px;
        &-btn{
            border: none;
            background: none;
            cursor: pointer;
            padding: 15px 20px;
            border-radius: 5px 0 0 5px;
            &:last-child{
                border-radius: 0 5px 5px 0;
            }
            &:hover{
                background-color: #b9b8b8;
            }
        }
        &-number{
            font-size: 25px;
            border: none;
            background: transparent;
            text-align: center;
            width: 50px;
        }
    }
    .buy-btn{
        margin-left: 20px;
        padding: 5px 60px;
    }
}
.taste-content-item{
    display: flex;
    align-items: center;

    &:not(:first-child){
        margin-top: 30px;
    }
}

.taste-content-desc{
    font-size: 25px;
    margin-left: 50px;
}

.characteristic-wrapper{
    display: flex;
    width: 100%;
    margin-top: 50px;
    .taste{
        width: 40%;
        padding: 60px 80px;

        &-title{
            font-size: 26px;
            font-weight: bold;
            margin-bottom: 50px;
        }
    }

    .characteristic{
        width: 58%;
        margin-left: 2%;
        padding: 60px 80px;

        &-title{
            font-size: 26px;
            font-weight: bold;
            margin-bottom: 50px;
        }
    }
}
.characteristic-desc-item{
    display: flex;
    justify-content: space-between;
    font-size: 22px;
    padding-bottom: 15px;
    border-bottom: 1px solid #B2B2B2;

    .characteristic-name{
        font-weight: bold;
    }

    &:not(:first-child){
        margin-top: 20px;
    }
}

//MEDIA
@media (max-width: 1300px) {
    .card-main{
        margin-left: 20px !important;
    }
    .card-img{
        max-height: 150px;
    }
}

@media (max-width: 1110px) {
    .buy-btn {
        padding: 0 20px!important;
    }
    .characteristic-desc-item{
        font-size: 18px;
    }
    .taste-content-desc{
        margin-left: 10px;
    }
}

@media (max-width: 1000px) {
    .characteristic-wrapper .characteristic{
        padding: 30px;
    }
    .characteristic-wrapper .taste{
        padding: 30px;
    }
}

@media (max-width: 769px) {
    .card-item{
        padding: 40px;
    }
}

@media (max-width: 426px) {
    .item{
        padding: 0;
    }
    .card-item .card-main-wrapper{
        display: block;
    }
    .characteristic-wrapper{
        display: block;
    }
    .characteristic-wrapper .taste{
        width: auto;
    }
    .characteristic-wrapper .characteristic{
        margin-top: 20px;
        width: auto;
    }
    .links-item-coffe{
        padding-top: 100px;
    }
}