@import "../../style/config.scss";

//NAVBAR

$duration: .25s;

nav{
    z-index: 10;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: background-color $duration ease-in, box-shadow .1s ease-in;
}

.nav_active{
    background-color: #fff;
    box-shadow: 0px 5px 20px rgba(157, 157, 157, 0.25);
}

.nav-wrapper{
    height: 160px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
    background-color: transparent;
}

.nav-content{
    font-size: 25px;
    & a:not(:first-child){
        margin-left: 100px;
    }
    a{
        color: $text-color;
        text-decoration: none;
        transition: border-bottom .1s ease-in;
        border-bottom: 0 solid $accent;
    
        &:hover{
            border-bottom: 3px solid $accent-hover;
        }
    }
}

.nav-icons{
    display: flex;
    align-items: center;
    & div:not(:first-child){
        margin-left: 50px;
    }
    & img {
        transition: filter $duration ease-in;
    }
    & img:hover{
        filter: invert(60%) sepia(100%) saturate(2019%) hue-rotate(12deg) brightness(101%) contrast(103%);
    }
}

.icon{
    cursor: pointer;
    position: relative;
}

.count-basket{
    position: absolute;
    right: -30%;
    top: -35%;
    width: 50%;
    height: 50%;
    background-color: $accent;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    font-size: 12px;
}

//MEDIA
@media (max-width: 1110px) {
    .nav-wrapper{
        padding: 0 60px;
        height: 120px;
    }
}

@media (max-width: 1000px) {
    .logo{
        display: none;
    }
}

@media (max-width: 769px) {
    .nav-wrapper{
        padding: 0 40px;
        height: 100px;
    }
}

@media (max-width: 426px) {
    .nav-content{
        font-size: 16px;
        & a:not(:first-child){
            margin-left: 50px;
        }
    }
    .nav-wrapper{
        padding: 0 20px;
    }
    .nav-icons{
        img {
            width: 20px;
        }
        & div:not(:first-child){
            margin-left: 20px;
        }
    }
    .nav-wrapper{
        height: 80px;
    }
}